* {
 margin: 0;
 padding: 0;
 font-size: 100%;
 box-sizing: border-box;
}
body {
 font-family: "Roboto", sans-serif;
 color: #515151;
}
.container {
 width: 1110px;
 margin: 0 auto;
}
header  {
 padding: 30px 0;
 text-decoration: none;
 text-transform: uppercase;
 color: #515151;
}
header a {
 text-decoration: none;
 text-transform: uppercase;
 color: #515151;
}
img {
 display: block;
 max-width: 100%;
 height: auto;
}
.name {
 display: inline-block;
}
.name a {
 font-size: 30px;
 line-height: 32px;
 font-weight: normal;
}
.name span {
 color: #4ec6ab;
 font-weight: bold;
}
.navigation-menu {
 position: relative;
}
.menu-item a:hover,
.menu-item a:focus {
 color: #1abc9c;
}
.menu {
 font-size: 14px;
 font-family: "Open Sans", sans-serif;
 font-weight: 700;
 color: #0f0101;
 display: block;
 position: absolute;
 top: 0;
 right: 0;
 margin-top: 8px;
}
.menu-item {
 list-style-type: none;
 display: inline-block;
 margin: 0;
 padding: 0;
}
.menu-item:not(:last-child) {
 margin-right: 28px;
}



  
.img {
 width: 100%;
 height: 100%;
}
.box {
 position: relative;
}
.inbox {
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgb(0, 0, 2);
 opacity: 0.52;
}
.box1 {
 position: absolute;
 top: 45%;
 left: 50%;
 transform: translate(-50%, -50%);
 display: flex;
 justify-content: space-between;
 width: 1110px;
 margin: 0 auto;
}
.btn-left {
 width: 105px;
 height: 105px;
 background-color: #509d8b;
 background-image: url(../img/left.png);
 background-repeat: no-repeat;
 background-position: center;
 opacity: 0.651;
}
.btn-right {
 background-image: url(../img/right.png);
 background-repeat: no-repeat;
 width: 105px;
 height: 105px;
 background-color: #509d8b;
 background-position: center;
 opacity: 0.651;
}
.btn-left:hover,
.btn-right:hover {
 opacity: 1;
 cursor: pointer;
}
.h3-text  {
 font-size: 60px;
 line-height: 82px;
 color: #ffffff;
 text-transform: uppercase;
 margin-top: -20px;
}
.p-text {
 font-size: 24px;
 line-height: 54px;
 font-weight: 100;
 color: #ffffff;
 text-transform: uppercase;
}



.cards {
 background-color: #e9f0fd;
 padding: 90px 0;
}
.cards-item {
 display: inline-block;
 position: relative;
}
.cards-item:not(:last-child) {
 margin-right: 25px;
}
.title-second {
 font-size: 48px;
 line-height: 58px;
 text-transform: uppercase;
 text-align: center;
 color: #515151;
 font-weight: 800;
 margin-bottom: 80px;
}
.title-second::after {
 content: "";
 display: block;
 margin: 0 auto;
 height: 7px;
 background: #1abc9c;
 width: 165px;
 margin-top: 25px;
}
.product {
 display: block;
 background-color: #323232;
 width: 100%;
 height: 40px;
 position: absolute;
 bottom: 0;
}
.cards-item:hover .card {
 border-width: 10px;
 border-color: rgb(255, 255, 255);
 border-style: solid;
 background-color: rgba(0, 0, 0, 0.549);
 position: absolute;
 width: 255px;
 height: 282px;
}
.cards-item:hover .buttons {
 display: block;
}
.cards-item:hover .product {
 background-color: #1abc9c;
}
.cards-item:hover .price {
 background-color: #7fd9c7;
}
.product-name {
 float: left;
 font-size: 18px;
 color: #ffffff;
 text-transform: uppercase;
 padding: 9px 0px 0px 12px;
}
.price-holder {
 background-color: #8c8c8c;
 width: 55px;
 height: 40px;
 float: right;
}
.price {
 font-size: 18px;
 color: #ffffff;
 text-align: center;
 padding: 9px 11px 9px 12px;
}
.price::before {
 content: "\0024";
}
.buttons {
 position: absolute;
 display: none;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 173px;
}
  
.heart {
 background-image: url(../img/.png);
 background-repeat: no-repeat;
 background-position: center;
 width: 50px;
 height: 50px;
 border: 1px solid #ffffff;
 background-color: transparent;
 margin-right: 7px;
}
.heart:hover {
 background-color: #1abc9c;
 cursor: pointer;
 border-color: #1abc9c;
}
.arrows {
 background-image: url(../img/.png);
 background-repeat: no-repeat;
 background-position: center;
 width: 50px;
 height: 50px;
 border: 1px solid #ffffff;
 background-color: transparent;
 margin-right: 7px;
}
.arrows:hover {
 background-color: #1abc9c;
 cursor: pointer;
 border-color: #1abc9c;
}
.clock {
 background-image: url(../img/.png);
 background-repeat: no-repeat;
 background-position: center;
 width: 50px;
 height: 50px;
 border: 1px solid #ffffff;
 background-color: transparent;
 margin-bottom: 7px;
}
.clock:hover {
 background-color: #1abc9c;
 cursor: pointer;
 border-color: #1abc9c;
}
  
.cart {
 width: 100%;
 border: 1px solid #ffffff;
 background-color: transparent;
 color: #ffffff;
 text-transform: uppercase;
 font-size: 14px;
 font-family: "Open Sans", sans-serif;
 font-weight: 400;
 text-align: center;
 padding: 20px 15px 20px 40px;
 position: relative;
 cursor: pointer;
}
  
.cart:before {
 content: "";
 background-image: url(../img/.png);
 background-size: 29px 29px;
 background-repeat: no-repeat;
 top: 13px;
 left: 10px;
 width: 29px;
 height: 29px;
 position: absolute;
}
  
.cart:hover {
 background-color: #323232;
}
footer {
 font-size: 16px;
 line-height: 28px;
 font-family: "Open Sans", sans-serif;
 font-weight: 400;
 padding: 30px;
 background: #323232;
 color: #fefefe;
 text-align: center;
}
.end {
 color: #46bfa9;
 text-decoration: none;
 margin-bottom: 50vh;
}