* {
    margin: 0 auto;
    
}
header {
    /* width: 1110px; */
    margin: 0 auto;
    position: relative;
}
.menu {
    position: relative;
    line-height: 5em;
    font-family: 'Roboto', sans-serif;
}
.first {
    float: left;
    margin: 0 245px;
    font-family: 'Roboto', sans-serif;
    color:rgb(81, 81, 81);
}
.menu_item {
    margin: 0 245px 0 0;
}
.submenu {
    float: right;
    margin: 0 auto;
    margin: 0px 10px 0px ;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.item-name {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color:rgb(81, 81, 81);
}
.clearfix {
    clear: both;
}
.item-name:hover {
    color: #4ec6ab;
}
.colortext {
    color: #4ec6ab;
    font-weight: bold;
}

.wrapper {
    width: 100%;
    /* height: 600px; */
    background: url(../img/Rectangle\ 1.jpg); 
    background-size: cover;
    color: #ffffff;
 
  
}
.box1 {
    width: 100%;
    height: 600px;
   background-color: rgba(50, 50, 50, 0.552);
    /* opacity: 0.552; */
    position: relative;

}
.arrow {
    width: 20px;
    height: 40px;
border: none;
padding: 35px;
}
    
.lol
 {
    position: absolute;
    /* width: 737px; */
    left: 430px;
    top: 180px;
    color: #ffff;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    
}
.second-title {
    margin: 0;
    font-size: 22px;
    left: 430px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 300px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: ;
    
 
}
.arrow-right {
    background-color: rgb(26, 188, 156);
    position: absolute;
    left: 1252px;
    top: 233px;
    width: 104px;
    height: 104px;
   
}
.arrow-left {
    background-color: rgb(26, 188, 156);
    position: absolute;
   right: 1252px;
    top: 233px;
    width: 104px;
    height: 104px;

}










.title-h1 {
    color: rgb(81, 81, 81);
    text-align: center;
margin-top: 100px;
font-size: 48px;
font-family: 'Roboto', sans-serif;
}

hr {
    margin: 30px 44%;
    margin-bottom: 100px;
}



.container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
 margin: 0 auto;
 margin-bottom: 50vh;
 height: 320px;
 background: #323232;
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
} */

.photo {
     height: 280px;
     
 }

  .price {
     width: 55px;
     height: 40px;
     background: #8c8c8c;
     position: absolute;
     align-self: flex-end;
     text-align: center;
     line-height: 40px;
     font-family: 'Roboto', sans-serif;
     color: #ffffff;
     font-weight: bolder;
 } 

 .text {
     margin: 0 20px;
     line-height: 40px;
     text-align: left;
     font-family: 'Roboto', sans-serif;
     color: #ffffff;
     font-weight: bolder;
 }



 .small-icon {
  
 }
 
.icons_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease-in;
}

.icon_wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    margin: 5px;
    background: transparent;
    transition: background 0.3s ease-in,
      border-color 0.3s ease-in;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
}

.icon_wrapper_wide {
    width: 170px;
  padding-left: 50px;
}

.icon-wrapper:hover {
    background: lightgreen;
    border-color: transparent;
  }

  .icons-wrapper--wide:hover {
    background: #1abc9c;
  }
  *,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 10px solid #fff;
    background: #000;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    z-index: 1;
  }
  .card:hover::after {
    opacity: 0.5;
  }
  .card:hover .icons-wrapper {
    opacity: 1;
  }